body{
    background-color: whitesmoke;
}

.header{
    width: 100vw;
    height: 8vh;
    display: flex;
    background-color: darkolivegreen;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar{
    list-style: none;
    text-decoration: none;
}

.navbar li{
    padding-right: 20px;
    font-size: 20px;
    margin: 0;
}

.link a{
    text-decoration: none;
    color: inherit;
}

.home{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100vw;
}

.product{
    width: 25%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black
}

.productDescription{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
